body{
  font-family: 'Roboto', sans-serif;

}
#crtgrp{
border: none;
background-color: rgb(9, 109, 96);
padding: 8px;
border-radius: 5px;
margin-top: 12px ;
color: white;
}

.createform{
background-color:rgb(139, 223, 238);
width: 30%;
padding: 1%;
border-radius: 12px;
/* float: right; */

}
.listofgroups{
/* position: absolute; */
/* top: 0%; */
left: 0%;
width: 40%;
background-color:rgb(161, 202, 221);
/* margin: 50px, 50px; */
padding: 1%;
}
.list1{
border-bottom: 1px solid rgb(249, 250, 249);
padding-bottom: 10px;
}
.creategrp{
width: 98%;
/* margin-top: 1%; */
margin: 10px 60vh;
padding: 20px 150px; 

}
#grpname{
font-weight: 550;
outline: none;
border:black;
margin-top: 30px;
}